/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url("images/dark_background.jpg");
}

/*logo setup*/
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.5vw;
    margin: 4% 5% 4% 0;
}
#logo img {
    width: 18vw;
    height: 18vw;
}
#logo p {
    font-size: 3.75rem;
    font-style: italic;
    font-weight: 500;
}
#logo p span {
    color: red;
}

/*main container setup*/
#main_container {
    width: 70vw;
    height: 80vh;
    margin-bottom: 15vh;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #111;

    box-shadow: 0.2rem 0.2rem 0.5rem black;
}
#main_nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    flex: 1 1;

    height: 15%;
    width: 100%;
}
/*main container buttons*/
.button {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 1.25rem;
    position: relative;
    transition: background-color 0.5s;
}
.button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: font-size 0.5s;
}
#button_program {
    background-color: #0c0c0c;
}
#button_members {
    background-color: initial;
}

/*main body setup*/
#main_body {
    height: 80%;
    width: 100%;

    position: relative;
}

/*main content setup*/

/*program tab*/
#main_content {
    height: 100%;
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(to right, #1b1b1b 33%, #222 66%, #1b1b1b);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#main_content .prog_img {
    order: 2;
    margin-left: 4%;

    display: block;
    max-width: 100%;
    max-height: 40%;
    width: 50%;
    width: auto;
    height: auto;
}
#main_content .prog_spec {
    order: 2;
    margin-left: 4%;

    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    height: 35%;
}
#main_content .heading {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;

    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 4%;

    width: 100%;
    height: 20%;

    color: #F53D29;
    text-shadow: 0 0 0.4rem black;
}
#main_content .points {
    font-size: 1.1rem;
    line-height: 150%;
    padding: 8% 0 10% 4%;
    height: 80%;
    width: 50%;
}
/*members tab*/
#main_content .mem_cont {
    width: 100%;
    height: 10%;
    text-align: center;
}
#main_content .member {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    height: 100%;

    margin-left: 5%;
}
#main_content p span {
    font-size: 1.25rem;
    color: rgb(200, 200, 200);
}

/*blanks*/
.blank {
    width: 10%;
    height: 100%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank img {
    display: block;
    max-width: 100%;
    max-height: 15%;
    width: auto;
    height: auto;
    width: 60%;

    transition: transform 0.35s;
}
#left_blank {
    left: 0%;
}
#right_blank {
    right: 0%;
}
/*white space div setup*/
.white_space {
    width: 10vh;
    height: 90vh;
}

/*footer setup*/
footer {
    width: 100%;
    height: 8vh;

    position: fixed;
    bottom: 0;

    background-color: #111;
}
footer p {
    color: #555;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*media queries*/
@media screen and (max-width: 600px) {

    html {
        font-size: 8px;
    }
    #main_container {
        height: 45vh;
        width: 80vw;
        top: 50%;
    }
    #logo img {
        width: 25vw;
        height: 25vw;
    }
    #main_content .prog_img {
        max-height: 30%;
        width: 35%;
    }
    #main_content .prog_spec {
        height: 30%;
    }
    .white_space {
        height: 25vh;
    }
}